<!DOCTYPE html>
<html lang="en">
	<head>
		<title>droid bones</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, inital-scale=1">
		
		<!-- FOR BOOTSTRAP --!>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 

		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/font_style.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- <script src="/javascripts/main_script.js"></script> -->		
	</head>
	<body>
		<div class="tile" id="header">
			<a href="/" style="text-decoration: none">
				<div>
					<h1 class="text-color1" id="header-text"> Droid Bones </h1>
				</div>
			</a>
		</div>
		{{{body}}}
	</body>
</html>