<div class="content">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div clas="row">
				<div class="col-md-6 about-tile">
					<div class="tile about-square">
						<h1 class="text-color1">
							What is droidbones?
						</h1>
						<p class="text-muted">
							droidbones is an attempt to make the process of nesting layouts in android to emulate a grid system (not unlike bootstrap's) simpler. droidbones should be used to make a "skeleton" on an android layout, giving you spots to put your content in.
						</p>
					</div>
					<a href="/home">
						<div class="tile about-square">
							<h1 class="text-color1">
								Try It Out! <span class="glyphicon glyphicon-arrow-right"></span>
							</h1>
							<p class="text-muted" style="text-decoration: none">
								Just click the name in the top left to navigate back to the about page.
							</p>
						</div>	
					</a>				
				</div>
				<div class="col-md-6 about-tile">
					<div class="tile about-square">
						<h1 class="text-color1">
							How do you use it?
						</h1>
						<p class="text-muted">
							A Layout contains Rows, Columns, and Content. All Rows and Columns have the same weight, so if you have two Rows in a layout, the screen will be split vertically in half with two Rows. If you have three Columns in one of those Rows, the Row will be split evenly in three horizontal sections. The content option is meant to act as a place holder for content you plan on adding. The example below demonstrates what this would look like:
						</p>
						<img class="img-responsive" src="/images/example.png">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>