
<div class="jumbotron">
	<h1> Welcome Home </h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li id="root_layout"> Layout <span class="glyphicon glyphicon-plus" id="add-button"></span>
				<!--	<ul>
						<li> Row
							<ul>
								<li> Column </li>
								<li> Column </li>
							</ul>
						</li>
						<li> Row
					 		<ul>
								<li> Column </li>
								<li> Column </li>
							</ul>
						</li>
					</ul> -->
				</li>	
			</ul>	
		</div>
		<div class="col-md-6" id="results-col">
			<p id="results"></p>
		</div>
	</div>
</div>	
