<script src="/javascripts/Constants.js"></script> 
<script src="/javascripts/Element.js"></script> 
<script src="/javascripts/main.js"></script> 
<div class="container content">
	<div class="row">
		<div class="col-md-6">
			<button type="buttton" id="reset-button" class="btn btn-info btn-block tile back-color1">Reset</button>
			<div id="input-div" class="content-scroll tile">
				<ul>
					<li id="root_layout"> LAYOUT <span class="glyphicon glyphicon-plus" id="add-button"></span>
					</li>	
				</ul>	
			</div>
		</div>
		<div class="col-md-6" id="results-col">
			<button type="buttton" class="btn btn-info btn-block tile back-color1" id="download-btn">
				Download
			</button>
			<a id="download-link" href="layout.xml" download></a>
			<div id="results-div" class="content-scroll tile">
				<p id="results"></p>
			</div>
		</div>
	</div>
</div>	
